{% extends "_layouts/cp" %}

{% do view.registerAssetBundle('lenz\\calendarfield\\assets\\calendar\\CalendarAsset') %}

{% set selectableSites = craft.app.sites.getEditableSites() %}
{% if requestedSite and requestedSite in selectableSites %}
  {% set selectedSite = requestedSite %}
{% else %}
  {% set selectedSite = selectableSites|length ? selectableSites|first : craft.app.sites.getPrimarySite() %}
{% endif %}

{% set bodyClass = 'calendarfield' %}
{% set docTitle = 'Calendar' %}
{% set crumbs = [{
  id: 'site-crumb',
  icon: 'world',
  label: selectedSite.name|t('site'),
  menu: {
    items: siteMenuItems(selectableSites, selectedSite),
    label: 'Select site'|t('app')
  }
}] %}

{% block content %}
  <div class="calendarfield--calendarWrap">
    <div class="calendarfield--calendar" id="calendar">
    </div>
  </div>
{% endblock %}

{% js %}
  new CalendarField.Calendar(
    '#{{ 'calendar'|namespaceInputId }}',
    {{ calendarOptions|json_encode()|raw }}
  );
{% endjs %}
