#global-footer
  display: none

#main,
#main-container,
#main-content,
#main-form,
#content-container,
#content
  display: flex
  flex-flow: column nowrap
  align-items: stretch
  flex-grow: 1

#main-content
  padding-bottom: 24px

#content-header
  margin: 0

.calendarfield--calendarWrap
  position: relative
  width: 100%
  min-height: 600px
  flex: 1
