body.calendarfield
  #global-footer,
  #header-container
    display: none

  #main,
  #content,
  #content-container,
  .content-grid,
  .content-grid__main
    height: 100%

  #main-content
    height: 100%
    padding-bottom: var(--padding)

  .calendarfield--calendarWrap
    min-height: calc(max(100%, 600px))

.calendarfield--calendarWrap
  position: relative
  width: 100%
  min-height: 600px
  flex: 1

.calendarfield--calendar
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
