.calendarfield--rrule > .field {
  margin: 0;
}

.calendarfield--rruleInlineLabel {
  display: inline-block;
  margin: 0 5px;

  line-height: 32px;
}

.calendarfield--rruleInlineLabel.daily,
.calendarfield--rruleInlineLabel.weekly,
.calendarfield--rruleInlineLabel.monthly,
.calendarfield--rruleInlineLabel.yearly {
  display: none;
}

.calendarfield--rrule.daily .calendarfield--rruleInlineLabel.daily,
.calendarfield--rrule.weekly .calendarfield--rruleInlineLabel.weekly,
.calendarfield--rrule.monthly .calendarfield--rruleInlineLabel.monthly,
.calendarfield--rrule.yearly .calendarfield--rruleInlineLabel.yearly {
  display: inline-block;
}

.calendarfield--rruleInlineText {
  width: 60px;
}

.calendarfield--rruleDetails {
  margin: 24px 0 0 0;
}

.calendarfield--rruleDetails > .weekly,
.calendarfield--rruleDetails > .monthly,
.calendarfield--rruleDetails > .yearly,
.calendarfield--rrule.none > .calendarfield--rruleDetails {
  display: none;
}

.calendarfield--rrule.weekly > .calendarfield--rruleDetails > .weekly,
.calendarfield--rrule.monthly > .calendarfield--rruleDetails > .monthly,
.calendarfield--rrule.yearly > .calendarfield--rruleDetails > .yearly {
  display: block;
}


.calendarfield--rruleUntil {
  display: flex;
  flex-flow: row nowrap;
}

.calendarfield--rruleUntilDetails {
  display: none;
  flex-flow: row nowrap;
  flex: 1;
  margin-left: 14px;
}

.calendarfield--rruleUntil.count > .count,
.calendarfield--rruleUntil.date > .date {
  display: flex;
}

@media only screen and (min-width: 640px) and (max-width: 1399px) {
  .calendarfield--rrule {
    display: flex;
    flex-flow: row nowrap;
  }

  .calendarfield--rruleDetails {
    margin: 0 0 0 14px;
    flex: 1;
  }
}


//
// RRule: Options

.calendarfield--rruleOptionsHeader {
  position: relative;
  margin: 12px 0 5px;
  padding: 0 0 0 20px;

  color: #576575;
  font-weight: bold;
  line-height: 20px;
}

.calendarfield--rruleOptionsHeader label {
  cursor: pointer;
}

.calendarfield--rruleOptionsHeader label:before,
.calendarfield--rruleOptionsInput:checked + .calendarfield--rruleOptionsHeader label:after {
  content: '';
  display: block;
  position: absolute;

  border-radius: 100%;
}

.calendarfield--rruleOptionsHeader label:before {
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;

  border: 1px solid #52606f;
}

.calendarfield--rruleOptionsInput:checked + .calendarfield--rruleOptionsHeader label:after {
  top: 7px;
  left: 3px;
  width: 8px;
  height: 8px;

  background: #52606f;
}

.calendarfield--rruleOptionsInput {
  display: none;
}

.calendarfield--rruleOptionsContent {
  display: none;
  padding: 0 0 0 20px;
}

.calendarfield--rruleOptionsInput:checked + * + .calendarfield--rruleOptionsContent {
  display: block;
}


//
// RRule: Weekdays / Month days

.calendarfield--rruleWeekdays,
.calendarfield--rruleMonths {
  max-width: 300px;
}

.calendarfield--rruleMonthDays + .calendarfield--rruleMonthDays,
.calendarfield--rruleMonths + .calendarfield--rruleMonths {
  margin-top: 5px;
}

.calendarfield--rruleWeekdaysInput,
.calendarfield--rruleMonthDaysInput,
.calendarfield--rruleMonthsInput {
  display: none;

  &:first-child + .btn {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
  }
}

.calendarfield--rruleWeekdaysInput:checked + .btn,
.calendarfield--rruleMonthDaysInput:checked + .btn,
.calendarfield--rruleMonthsInput:checked + .btn {
  background: #1992d4;
  color: #fff;
}

.calendarfield--rruleWeekdaysButton.small,
.calendarfield--rruleMonthDaysButton.small,
.calendarfield--rruleMonthsButton.small {
  padding: 0 !important;
}

.calendarfield--rruleMonthDaysButton.small {
  width: 25px;
}
